body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 95vh;
    background-color: black;
}
#container {
    text-align: center;
    background-color: white;
    padding: 30px 0;
    border-radius: 7px;
    border: 2px solid red;
    box-shadow: 0 0 5px white;
    width: 400px;
}
input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 0;
    width: 350px;
    border: 1px solid aqua;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.658);
}
input:focus {
    border: none;
}
button {
    padding: 5px 15px;
    background-color: bisque;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.6s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.637);
}
button:hover {
    background-color: black;
    color:  white;
}