* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(46, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 10px 0;
}
#container {
    background-color: white;
    text-align: center;
    padding: 40px 20px;
    width: 500px;
    border-radius: 6px;
    margin-top: 20px;
}
input {
    width: 350px;
    padding: 6px 0;
}
button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 20px;
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: rgb(19, 133, 133);
    transition: 0.6s;
    color: red;
}
button:hover { 
    background-color: black;
    color: white;
}