body {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: aquamarine;
}
.container {
    border: 3px solid red;
    width: 500px;
    border-radius: 6px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 20px;
}
input {
    display: block;
    margin: auto;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px black;
    margin-bottom: 20px;
}
button {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(4, 5, 99);
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    transition: 0.6s;
}
button:hover {
    background-color: rgb(82, 180, 2);
    color: black;
}