body {
    background-color: antiquewhite;
}

#productList {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   text-align: center;
   gap: 20px;
   margin-top: 20px;
}
input {
    width: 300px;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
}