body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.644);
}
h1 {
    text-align: center;
}
#container {
    border-radius: 7px;
    width: 500px;
    background-color: white;
}
.parentDiv {
    display: flex;
}
.singleDiv {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.507);
    background-color: rgba(128, 128, 128, 0.384);
    margin: auto;
    width: 140px;
    text-align: center;
}
p {
    display: block;
    font-size: 18px;
}
button {
    cursor: pointer;
    font-size: 12px;
    margin: 10px 0;
    color: white;
    background-color: rgba(0, 128, 0, 0.76);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.6s;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.818);
    color: yellow;
}
.singleDiv2 {
    width: 450px;
    margin: auto;
}
.singleDiv2 > h2 {
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.394);
}
.cart {
    border: 1px solid red;
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}
.cart ul {
    list-style-type: none;
    padding: 0 10px;
}
.cart ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
#buy-now {
    background-color: aqua;
    color: black;
    margin-left: 10px;
    transition: 0.6s;
}
.remove-item {
    background-color: tomato;
}
.remove-item:hover{
    background-color: rgb(122, 33, 17);
    color: white;
}
#pTag{
    margin-left: 10px;
}
#buy-now:hover {
    background-color: rgb(4, 94, 94);
    color: white;
}

