body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(92, 86, 86);
}
.container {
    border: 3px solid rgb(255, 0, 255);
    box-shadow: 0 0 5px aqua;
    width: 500px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: bisque;
    padding-bottom: 100px;
}
h1 {
    color: red;
}
#gernerateBtn {
    padding: 5px ;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
    transition: 0.6s;
    cursor: pointer;
    margin-bottom: 20px;
}
#gernerateBtn:hover {
    background-color: rgb(5, 94, 64);
    color: white;
}