body {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: cadetblue;
}
#message {
    border:  3px solid red;
    width: 550px;
    margin: auto;
    padding: 50px;
    font-size: 30px;
}